<div class="big-container d-flex">
  <div style="width: 50vw; height: 100vh; display:inline-block;flex:1">
    <ul class="slideshow">
      <li><span>test1</span></li>
      <li><span>test2</span></li>
      <li><span>test3</span></li>
      <li><span>test4</span></li>
    </ul>
  </div>
  <div class="text-stuff" style="background-color:#F3F4EF; width: 50vw; height: 100vh; display: inline-block;">
    <h1 class="text-center">Cocktails</h1>
    <h3 class="ml-5">Get inspired...</h3>
    <ul>
      <div class="container">
        <div class="row">
          <% @cocktails.each do |cocktail| %>
            <div class="cocktail-card">
              <div class="col">
                <img src="https://images.unsplash.com/photo-1548158518-c2f131b1aa01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" class="card-img-top h-80" alt="drink">
                <h5> <%= cocktail.name %> </h5>
                <ul>
                  <li>
                    <% cocktail.doses.each do |dose| %>
                    <%= dose.description %>
                    <%= dose.ingredient.name %>
                    <% end %>
                  </li>
                </ul>
                <%= link_to "", cocktail_path(cocktail), class: 'cocktail-card-link' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </ul>
    <h3 class="ml-5">Or make your own!</h3>
    <div>
      <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.submit "Create a Cocktail", class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>




<!-- <h1>ALCOHOL, SPICE & ERRYTANG NICE</h1>
  <div class="home_display">

    <div>
      <img src="https://unsplash.com/photos/ojBNujxI2_c" alt="drinks with friends">
    </div>

    <div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
-->
