<h1><%= @cocktail.name %></h1>
<ul>
  <li>
    <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <% end %>
  </li>
</ul>

<%= link_to "New Dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Delete", cocktail_path(@cocktail), method: :delete %>
